 <div align="center" id="div1">
  <form [formGroup]="group" id="form">
    <input type="text" placeholder="firstName" formControlName = "firstName">
    <span *ngIf="submitted && group.get('firstName').errors && group.get('firstName').errors.required">firstName is required</span>
    <br>
    <input type="text" placeholder="lastName" formControlName = "lastName" > 
    <span *ngIf="submitted && group.get('lastName').errors && group.get('lastName').errors.required">lastName is required</span> 
    <br>
    <div formGroupName = "address">
      <p>address</p>
      <input type="text" placeholder="street" formControlName = "street">
      <br>
      <input type="text" placeholder="city" formControlName = "city">
      <br>
      <input type="text" placeholder="state" formControlName = "state">
    </div>
    <br>
    <input type="text" placeholder="email" formControlName = "email">
    <span *ngIf="submitted && group.get('email').errors && group.get('email').errors.required">email is required</span> 
    <span  *ngIf="submitted && group.get('email').errors && group.get('email').errors.email">email is invalid</span> 
    <span  *ngIf="submitted && group.get('email').errors && group.get('email').errors.pattern">email not valid</span>
    <br>
    <input type="text" placeholder="age" formControlName="age">
    <span *ngIf="submitted && group.get('age').errors && group.get('age').errors.required">age is required</span>
    <span *ngIf="submitted && group.get('age').errors &&
    group.get('age').errors.validAge && !(group.get('age').errors.required)">invalid age</span>
    <span *ngIf="submitted && group.get('age').errors &&
    group.get('age').errors.pattern && !(group.get('age').errors.required)">not valid age</span>
    <br>
    <input type="password" placeholder="password" formControlName="password">
    <span *ngIf="submitted && group.get('password').errors && group.get('password').errors.required">
    password is required</span>
    <br>
    <input type="password" placeholder="confirmPassword" formControlName
    = "confirmPassword">
    <span *ngIf="submitted && group.get('confirmPassword').errors && group.get('confirmPassword').errors.required">confirmPassword is required</span>
    <span  *ngIf="submitted  && group.errors && group.errors.passwordMismatch && !(group.get('confirmPassword').errors && group.get('confirmPassword').errors.required)">
    confirmPassword is not valid</span>
    <br>
    <button (click) = 'onSubmit()'>Submit</button>
    <button (click) = 'resetForm()'>Reset</button>
  </form>
</div>
