<div align="center" id="div1">
  <form [formGroup]="formGroup" id="form">
    <mat-form-field>
      <input matInput type="text" placeholder="Name" class="form-control" formControlName = "name">
      </mat-form-field>
    <mat-error matInput *ngIf="submitted && formGroup.get('name').errors && formGroup.get('name').errors.required">Name is required</mat-error>
    <br>
     <mat-form-field>
      <input matInput type="text" placeholder="userName" class="form-control" formControlName = "userName" >
     </mat-form-field>
    <mat-error *ngIf="submitted && formGroup.get('userName').errors && formGroup.get('userName').errors.required">userName is required</mat-error> 
    <mat-error *ngIf="submitted && formGroup.get('userName').errors && formGroup.get('userName').errors.validUser">userName is already exist</mat-error>
    <br>
    <mat-form-field>
      <input matInput type="text" placeholder="email" class="form-control" formControlName = "email">
    </mat-form-field>
    <mat-error *ngIf="submitted && formGroup.get('email').errors && formGroup.get('email').errors.required">email is required</mat-error> 
    <mat-error  *ngIf="submitted && formGroup.get('email').errors && 
    (formGroup.get('email').errors.email || formGroup.get('email').errors.pattern)">email is invalid</mat-error> 
    <mat-error *ngIf="submitted && formGroup.get('email').errors && formGroup.get('email').errors.emailExist">email is already exist</mat-error>
    <br>
    <mat-form-field>
      <input matInput type="text" placeholder="age" class="form-control" formControlName="age">
    </mat-form-field>
    <mat-error *ngIf="submitted && formGroup.get('age').errors && formGroup.get('age').errors.required">age is required</mat-error>
    <mat-error *ngIf="submitted && formGroup.get('age').errors &&
    (formGroup.get('age').errors.validAge || formGroup.get('age').errors.pattern) && !(formGroup.get('age').errors.required)">invalid age</mat-error>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="password" class="form-control" formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="submitted && formGroup.get('password').errors && formGroup.get('password').errors.required">
    password is required</mat-error>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="confirmPassword" class="form-control" formControlName = "confirmPassword">
    </mat-form-field>
    <mat-error *ngIf="submitted && formGroup.get('confirmPassword').errors && formGroup.get('confirmPassword').errors.required">confirmPassword is required</mat-error>
    <mat-error  *ngIf="submitted  && formGroup.errors && formGroup.errors.passwordMismatch && !(formGroup.get('confirmPassword').errors && formGroup.get('confirmPassword').errors.required)">
    confirmPassword is not valid</mat-error>
    <br>
    <button  mat-raised-button  (click) = 'onSubmit()'>Submit</button>
    <button  mat-raised-button  (click) = 'resetForm()'>Reset</button>
  </form>
</div>
