 <nav>
  <i>root></i>
  <ng-container *ngIf="isInsideFolder">
    <i *ngFor="let element of folderChain" >{{element}}></i>
  </ng-container>
  <br>
  <button  mat-raised-button (click)="dialogOpen('folder')">+folder</button>
  <button  mat-raised-button (click)="dialogOpen('file')">+file</button>
  <button mat-raised-button (click)="back()">back</button>
  <button id ="logout" mat-raised-button (click)="logout()">
  Logout</button> 
  <mat-icon (click)="viewList()">view _list</mat-icon>
  <mat-icon  (click)="viewGrid()">view_module</mat-icon>
</nav>

<div *ngIf="gridView">
  <span *ngFor="let element of folderList" class="fa fa-folder" (click)="onClick(element)">
    <i>{{element}}</i>
  </span>
  <span *ngFor="let element of fileList" class="fa fa-file" ><i>{{element}}</i></span>
</div>

<div *ngIf="listView">
  <div *ngFor="let element of folderList">
    <span class="fa fa-folder" (click)="onClick(element)"><i>{{element}}</i></span> 
  </div> 
  <div *ngFor="let element of fileList">
    <span class="fa fa-file" ><i>{{element}}</i></span> 
  </div> 
</div>  