<button id="btn"><a id="add" routerLink="/add" >Add</a></button>
<br>
<table style="width:80%" align="center" class="table table-striped table-sm " >
  <thead class="thead-dark" style="text-align:center">
    <th>USERID</th>
    <th>id</th> 
    <th>title</th>
    <th>body</th>
    <th>action</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.userId}}</td>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
      <td><button><a routerLink="delete/{{post.id}}">Delete</a></button><br><button><a routerLink="update/{{post.id}}">Update</a></button></td>
    </tr>
  </tbody>
</table>
