div {
  padding-top:50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
  border-color: black;
  border-style: solid;
  width: 500px;
  background-color: lightblue;
  align-self: center;
  margin-left: 350px;
} 